@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
	hr {
		@apply border-black;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		@apply bg-black text-white;
	}
}

a {
	@apply text-link-light dark:text-link-dark font-bold transition-colors;
}

a:hover {
	@apply text-hoverlink-light dark:text-hoverlink-dark;
}

.links-color-dark a {
	@apply text-link-dark hover:text-hoverlink-dark;
}

select {
	@apply cursor-pointer;
}

::-webkit-scrollbar {
	@apply w-[10px];
}

::-webkit-scrollbar-track {
	@apply bg-[#fff3];
}

::-webkit-scrollbar-thumb {
	@apply bg-[#fff4] rounded-2xl;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-[#fff6];
}

.object-position-animation:hover {
	animation: ltr 2s alternate infinite;
}

@keyframes ltr {
	0% {
		object-position: 0% 0%;
	}
	100% {
		object-position: 100% 100%;
	}
}

.content-from-markdown {
	p {
		@apply text-xl my-3;
	}
	h2,
	h3,
	h4 {
		@apply font-bold text-center;
	}
	h2 {
		@apply text-4xl;
	}
	h3 {
		@apply text-3xl;
	}
	h4 {
		@apply text-2xl;
	}
	li {
		@apply text-xl list-disc ml-5;
	}
	img {
		@apply m-0 mx-auto my-3 md:max-w-[80%];
	}
	.tech-label {
		@apply inline m-0 min-h-[1.1em];
	}
}

.content-from-markdown-home {
	.tech-label {
		@apply min-h-[1.5em];
	}
}

.project-stack {
	& > div {
		@apply flex flex-col gap-3;
	}
	img {
		@apply inline min-h-[1.5em];
	}
}
